---
---

@import 'custom/_variables.scss';

@import url(//fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900);
@import url(//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i);

// @media (min-width: 768px) { .container { max-width: 800px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
  padding-bottom: 1.5rem;
  color: $primary;
}

h1 {
  text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
 }

p {
 font-size: 1rem;
 text-align: justify;
 text-justify: inter-character;
}

.subsection {
  margin-top: 3rem;
}

.section-header {
  margin-top: 4rem;
}

.section-title {
  text-align: center;
}

.btn-primary {
  background-color: #060677;
}

.btn-secondary {
  background-color: #0dcaf0; //#198754
}

p a {
  text-decoration: underline;
}

p a:hover {
  color: #000050;
}

.section-blue {
  background-color: $primary;
  color: white !important;

  h1, h2, h3, h4 {
    color: white;
  }
}

.section-grey {
  background-color: $grey;
  color: white !important;

  h1, h2, h3, h4 {
    color: white;
  }
}

.big-paragraph {
  font-size: 2rem;
  text-align: center;
}

.card-text {
  margin-bottom: 2rem;
}

p.card-text {
  text-align: left !important;
  text-justify: left !important;
}

.nav-logo {
  color: $primary !important;
}

.nav-link {
  color:$primary;
  font-size: 1.1rem;
}

.game-info-page {
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-bottom: .5rem;
    margin-bottom: 0;
  }
}