---
layout: default
---
{% include banner.html %}

<div class="container">

  <div class="row subsection">
    <div class="col">
      <div class="section-title">
        <h2>Why Games</h2>
      </div>
      <p> Through play, participants are free to explore new ideas and novel perspectives. Games are great at modeling complex systems and allow players to build intuitions for real world dynamics. By taking on the roles of key organizations and stakeholders, players can understand their incentives and empathise with their situations.</p>
    </div>
  </div>

  <div class="row subsection">
    <div class="col">
      <div class="section-title py-2">
        <h2>Our Games</h2>
      </div>
      <p>We design in-person games, simulations, and workshops that help organizations explore possible futures and explain complex issues. We’ve designed games for audiences including conferences, foundations, leadership teams. Our games range in size from two players to hundreds.</p>
    </div>
  </div>

  <div class="row pt-4">
    <div class="col">
      <div class="card-deck">

        <div class="card bg-light border-0">
          <div class="card-body">
            <div class="text-center">
              <h4 style="padding-top: 0.6rem; padding-bottom:0px;"">Exploration Games</h4>
              <h4 class="text-secondary">Strategy &amp; Foresight</h4>
            </div>
            <p>These games help participants explore the future by engaging with the trends that are shaping markets and ecosystems. These can cover many possible futures or focus on one or two critical trends or scenarios. Audiences include leadership teams and policy makers.</p>
          </div>
        </div>

        <div class="card bg-light border-0">
          <div class="card-body">
            <div class="text-center">
              <h4 style="padding-top: 0.6rem; padding-bottom:0px;">Explanation Games</h4>
              <h4 class="text-secondary">Understanding &amp; Intuition</h4>
            </div>
            <p>Explanation games help participants engage with complex topics through play. By taking on roles, players gain intuition of a system’s dynamics and empathy for its actors. These games range from large simulations to small-group decision making. Audiences include conference attendees, new hires, journalists, and regulators.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col text-center">
      <a href="/games/our-games.html" class="btn btn-primary btn-lg btn-block">See Example Games</a>
    </div>
  </div>

  <div class="row subsection">
    <div class="col">
      <div class="section-title">
        <h2>Our Process</h2>
      </div>
      <p>Our design process involves a high degree of brainstorming and iteration as we collaborate with our clients to create the game. Clients have told us that the design process itself yields valuable new insights and generates useful frameworks.</p>
      <a href="/games/game-design-process.html" class="btn btn-primary btn-lg btn-block my-5">About Our Process</a>
    </div>
  </div>
</div>

{% include contact_cta.html %}
