$primary: #05396B; // navy
$accent: #198754;
$info: #7f7f7f; // grey
$grey: #747687;

$code-heading-background: #dededc; // light grey
$code-text-color: #b6b6b6; // off white

$grid-gutter-width: 40px !default;