<footer class="site-footer">
  <div class="container">
    <div class="row gy-4">
      <div class="col-md-4">
        <h5 class="footer-heading">Leveraged Play</h5>
        <p class="footer-tagline">Custom foresight games that help organizations explore the future.</p>
      </div>
      <div class="col-md-2 col-6">
        <h6 class="footer-heading">Games</h6>
        <ul class="footer-links">
          <li><a href="/games/our-games.html">Our Games</a></li>
          <li><a href="/games/game-types.html">Types of Games</a></li>
          <li><a href="/games/game-design-process.html">Design Process</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-6">
        <h6 class="footer-heading">Company</h6>
        <ul class="footer-links">
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="https://foresight.games" target="_blank">Foresight.Games</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6 class="footer-heading">Get in Touch</h6>
        <ul class="footer-links">
          <li><a href="mailto:info@leveragedplay.com">info@leveragedplay.com</a></li>
        </ul>
        <a href="http://eepurl.com/iKgDbE" target="_blank" class="btn btn-outline-light btn-sm mt-2">Newsletter Signup</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container text-center">
      <small>&copy; {{ site.time | date: '%Y' }} Leveraged Play. All rights reserved.</small>
    </div>
  </div>
</footer>

<!-- JS -->
<script src="/js/animations.js"></script>
