<!-- NAV -->
<nav class="navbar navbar-expand-md navbar-light py-3 site-navbar">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="navbar-brand d-flex align-items-center">
      <h3 class="d-inline align-middle mb-0 nav-logo">Leveraged Play</h3>
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ site.baseurl }}/games/our-games.html">Our Games</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/games/game-types.html">Types of Games</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/games/game-design-process.html">Design Process</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/games/conference-games.html">For Conferences</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/games/venture-capital-games.html">For VCs</a>
          </div>
        </li>

        <li class="nav-item">
          <a href="{{ site.baseurl }}/about/" class="nav-link">About</a>
        </li>

        <li class="nav-item">
          <a href="{{ site.baseurl }}/contact/" class="nav-link">Contact</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
